.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: cornflowerblue;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #5880cc;
}

.chat-window {
  width: 600px;
  height: 920px;
  z-index: 1000;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 60px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 60px;
}

.chat-window .chat-body {
  height: calc(750px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 15px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 320px;
  background-color: #48d651;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 20px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 2px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
  margin-left: 5px;
}

.chat-window .chat-footer {
  height: 50px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  flex: 35%;
  border: 0;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 15px;
  color: lightgray;
}

.hide {
  opacity: 0 !important;
}

.chat-window .chat-footer .input-styled {
  padding: 10px;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.chat-window .chat-footer .button-styled {
  background-color: cornflowerblue;
  color: #ffffff;
  border: none;
  padding: 5px 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.chat-window .chat-footer .button-styled:hover {
  background-color: #5880cc;
}

.chat-window .chat-footer .button-styled:active {
  transform: scale(0.95);
}

.emoji-picker-container .emoji-picker-emoji {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
}

.emoji-picker-button {
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.emoji-message {
  font-size: 34px;
}

aside {
  bottom: 402px;
}
